<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- MySQL数据库连接字符串 -->
  <connectionStrings>
    <!-- 开发环境MySQL连接 -->
	  <add name="WorkflowDesignerMySqlConnection" connectionString="Server=localhost;Port=3306;Database=WorkflowDesigner;Uid=root;Pwd=123456;charset=utf8mb4;" providerName="MySql.Data.MySqlClient" />
    <!-- 生产环境MySQL连接（示例） -->
    <add name="WorkflowDesignerMySqlProd" connectionString="Server=prod-mysql-server;Port=3306;Database=WorkflowDesigner_Prod;Uid=root;Pwd=123456;charset=utf8mb4;SslMode=Required;AllowUserVariables=True;UseCompression=True;ConnectionTimeout=30;" providerName="MySql.Data.MySqlClient" />
    <!-- 测试环境MySQL连接 -->
    <add name="WorkflowDesignerMySqlTest" connectionString="Server=test-mysql-server;Port=3306;Database=WorkflowDesigner_Test;Uid=root;Pwd=123456;charset=utf8mb4;SslMode=none;AllowUserVariables=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Prism相关程序集重定向 -->
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.97.0" newVersion="8.1.97.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism.Wpf" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.97.0" newVersion="8.1.97.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism.Container.Abstractions" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.97.0" newVersion="8.1.97.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism.Unity" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.97.0" newVersion="8.1.97.0" />
      </dependentAssembly>
      <!-- Unity容器重定向 -->
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.11.0" newVersion="5.11.11.0" />
      </dependentAssembly>
      <!-- Newtonsoft.Json重定向 -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.4.0.0" newVersion="9.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.30.0.0" newVersion="3.30.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.8.5.0" newVersion="0.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.8.0" newVersion="1.3.8.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- 禁用强名称验证（临时解决方案） -->
    <loadFromRemoteSources enabled="true" />
  </runtime>
  
  <appSettings>
    <!-- 工作流引擎配置 -->
    <add key="MaxConcurrentWorkflows" value="100" />
    <add key="NodeExecutionTimeout" value="00:30:00" />
    <add key="AutoSaveInterval" value="00:05:00" />
    <!-- 数据库配置 -->
    <add key="DatabaseEnvironment" value="Development" />
    <add key="EnableDatabaseLogging" value="true" />
    <add key="DatabaseCommandTimeout" value="30" />
    <!-- 连接池配置 -->
    <add key="ConnectionPoolMinSize" value="5" />
    <add key="ConnectionPoolMaxSize" value="10" />
    <add key="ConnectionLifetime" value="30" />
    <!-- 日志配置 -->
    <add key="LogLevel" value="Info" />
    <add key="LogFilePath" value="Logs\WorkflowDesigner.log" />
    <add key="EnableSqlLogging" value="false" />
    <!-- 安全配置 -->
    <add key="EnableEncryption" value="false" />
    <add key="EncryptionKey" value="" />
    <!-- 性能配置 -->
    <add key="CacheTimeout" value="00:30:00" />
    <add key="EnableQueryCache" value="true" />
    <!-- 邮件配置 -->
    <add key="SmtpServer" value="smtp.example.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUsername" value="" />
    <add key="SmtpPassword" value="" />
    <add key="SmtpEnableSsl" value="true" />
    <!-- 文件存储配置 -->
    <add key="FileStoragePath" value="Storage\Files" />
    <add key="MaxFileSize" value="10485760" />
    <!-- 10MB -->
    <add key="AllowedFileExtensions" value=".pdf,.doc,.docx,.xls,.xlsx,.txt,.jpg,.png" />
  </appSettings>
</configuration>