<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <connectionStrings>
	    <add name="WorkflowDesignerConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WorkflowDesigner;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<!-- Prism相关程序集重定向 -->
			<dependentAssembly>
				<assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.97.0" newVersion="8.1.97.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="Prism.Wpf" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.97.0" newVersion="8.1.97.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="Prism.Container.Abstractions" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.97.0" newVersion="8.1.97.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="Prism.Unity" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.97.0" newVersion="8.1.97.0" />
			</dependentAssembly>

			<!-- Unity容器重定向 -->
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.11.11.0" newVersion="5.11.11.0" />
			</dependentAssembly>

			<!-- Newtonsoft.Json重定向 -->
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>

		</assemblyBinding>

		<!-- 禁用强名称验证（临时解决方案） -->
		<loadFromRemoteSources enabled="true" />

	</runtime>
  <entityFramework>
	  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
		  <parameters>
			  <parameter value="mssqllocaldb" />
		  </parameters>
	  </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<appSettings>
		<add key="MaxConcurrentWorkflows" value="100" />
		<add key="NodeExecutionTimeout" value="00:30:00" />
		<add key="AutoSaveInterval" value="00:05:00" />
	</appSettings>
	
</configuration>